@font-face {
  font-family: "Dirooz";
  src: url("../Font/Dirooz.woff"); }

:root {
  --color-purple-primary: #4c0083;
  --color-white: #fff;
  --color-gray-dark: #e0e0e0;
  --color-gray-light: #f1f1f1; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: Dirooz; }

.quickActive-box {
  padding: 15px 15px 50px;
  margin: 0 auto;
  width: 90%;
  box-shadow: 0 0 10px var(--color-gray-dark); }
  @media screen and (min-width: 600px) {
    .quickActive-box {
      max-width: 600px; } }
  .quickActive-box__heading {
    color: var(--color-purple-primary);
    text-align: center;
    font-size: 22px; }
  .quickActive-box__name {
    text-align: center;
    color: #40a8ff;
    font-size: 13px;
    font-weight: 600; }
  .quickActive-box__radioBtn-box {
    margin-top: 40px;
    margin-bottom: 10px;
    max-width: 500px; }
    .quickActive-box__radioBtn-box div {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 90px;
      position: relative; }
      .quickActive-box__radioBtn-box div:first-child {
        margin-bottom: 6px; }
    .quickActive-box__radioBtn-box label {
      border: 1px solid var(--color-purple-primary);
      font-size: 19px;
      padding: 5px 0;
      text-align: center;
      border-radius: 7px;
      width: 60%; }
    .quickActive-box__radioBtn-box input {
      width: 35px;
      height: 35px;
      appearance: none;
      border: 1px solid var(--color-purple-primary);
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .quickActive-box__radioBtn-box input:checked {
        background: var(--color-purple-primary); }
      .quickActive-box__radioBtn-box input:checked::after {
        display: block; }
      .quickActive-box__radioBtn-box input::after {
        content: "\002714";
        font-size: 22px;
        display: none;
        color: var(--color-white); }
  .quickActive-box__checkBox-container {
    margin-bottom: 25px; }
    .quickActive-box__checkBox-container li {
      display: flex;
      align-items: center;
      gap: 10px; }
    .quickActive-box__checkBox-container label {
      font-size: 21px; }
    .quickActive-box__checkBox-container input {
      width: 15px;
      height: 15px;
      appearance: none;
      border: 1px solid var(--color-purple-primary);
      border-radius: 2px;
      display: flex;
      align-items: center;
      justify-content: center; }
      .quickActive-box__checkBox-container input:checked {
        background: var(--color-purple-primary); }
      .quickActive-box__checkBox-container input:checked::after {
        display: block; }
      .quickActive-box__checkBox-container input::after {
        content: "\002714";
        font-size: 13px;
        display: none;
        color: var(--color-white); }
  .quickActive-box__activeBtn {
    width: 80%;
    display: block;
    margin: 0 auto;
    background: var(--color-purple-primary);
    color: var(--color-white);
    border-radius: 10px;
    padding: 5px 0;
    font-size: 21px;
    border: none; }
